# Mstorage Environment Configuration
# Creator: Mayank Mandrai

PORT=3000
JWT_SECRET=mstorage-secure-jwt-secret-key-mayank-mandrai-2026
NODE_ENV=production

# XerVault Unlimited Cloud Storage Engine
# Keeps Render disk at 0 MB & makes storage 100% permanent and unlimited!
# 1. Create a free bot on Telegram via @BotFather to get your TELEGRAM_BOT_TOKEN
# 2. Create a private Telegram channel, add your bot as admin, and get your TELEGRAM_CHAT_ID (e.g. -100xxxxxxxxxx)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
